.header {
  text-align: center;
}

.weather-details-2 {
  text-align: center;
}

.container {
  text-align: center;
}

.weather-header {
  background-image: url(weather.jpg);
  padding: 100px;
  font-weight: bolder;
  color: rgb(105, 45, 45);
}

.Search h2 {
  font-size: 30px;
  color: rgb(85, 85, 167);
}

.weather-details input {
  width: 240px;
  height: 30px;
  font-size: 17px;
  padding-left: 5px;
}

.weather-details button {
  width: 120px;
  height: 30px;
  margin-left: 20px;
  background-color: rgb(85, 85, 167);
  border: 0;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
}

.weather-details-2 h2 {
  font-size: 22px;
  color: rgb(0, 0, 0);
}
